HTTPSPORT={{ apigee_tls_ui_port }}
DISABLE_HTTP={{ 'y' if apigee_tls_ui_plaintext_disabled else 'n' }}
KEY_ALGO={{ apigee_tls_ui_keystore_type }}
KEY_FILE_PATH={{ apigee_tls_ui_keystore_dest }}
KEY_PASS={{ apigee_tls_ui_keystore_password }}
