ORG_NAME="{{ apigee_organization_name }}"
ENV_NAME="{{ apigee_environment_name }}"
VHOST_PORT="{{ apigee_virtual_host_port }}"
VHOST_NAME="{{ apigee_virtual_host_name }}"
VHOST_ALIAS="{{ apigee_virtual_host_aliases | join(' ') }}"
ORG_ADMIN="{{ apigee_organization_admin_email }}"
APIGEE_ADMINPW="{{ apigee_organization_admin_password }}"
